services:
  traefik:
    image: traefik:v3.3
    container_name: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.transport.respondingtimeouts.readtimeout=180s"
      - "--entrypoints.web.transport.respondingtimeouts.writetimeout=180s"
      - "--entrypoints.web.transport.respondingtimeouts.idletimeout=180s"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.transport.respondingtimeouts.readtimeout=180s"
      - "--entrypoints.websecure.transport.respondingtimeouts.writetimeout=180s"
      - "--entrypoints.websecure.transport.respondingtimeouts.idletimeout=180s"
      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email=${EMAIL}"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
      # Disable HTTP/2 for Docker registry
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./acme.json:/letsencrypt/acme.json
      - ./traefik-dynamic:/etc/traefik/dynamic

  nexus:
    image: sonatype/nexus3:3.82.0
    restart: always
    container_name: nexus
    user: "997:997"
    volumes:
      - ./nexus-data:/nexus-data
    labels:
      # UI access
      - "traefik.enable=true"
      - "traefik.http.routers.nexus.rule=Host(`nexus.${DOMAIN}`)"
      - "traefik.http.routers.nexus.entrypoints=websecure"
      - "traefik.http.routers.nexus.tls.certresolver=le"
      - "traefik.http.services.nexus.loadbalancer.server.port=8081"
      - "traefik.http.routers.nexus.service=nexus"

      # To disable HTTP/2 for Docker registry
      - "traefik.http.routers.nexus-docker.tls.options=registry@file"

      # Docker Registry API
      - "traefik.http.routers.nexus-docker.rule=Host(`docker.${DOMAIN}`)"
      - "traefik.http.routers.nexus-docker.entrypoints=websecure"
      - "traefik.http.routers.nexus-docker.tls.certresolver=le"
      - "traefik.http.routers.nexus-docker.service=nexus-docker"
      - "traefik.http.services.nexus-docker.loadbalancer.server.port=8085"

volumes:
  nexus-data:
