entryPoints:
  web:
    address: ":80"
    transport:
      respondingTimeouts:
        readTimeout: 180s
        writeTimeout: 180s
        idleTimeout: 180s

  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: 180s
        writeTimeout: 180s
        idleTimeout: 180s

certificatesResolvers:
  le:
    acme:
      email: "${EMAIL}"
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

providers:
  docker:
    exposedByDefault: false
